@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
	/*background-color: #96ccff;*/
	background-image: url("../images/Beach2.jpg");
 	background-color: grey;
 	background-size: cover;
  background-blend-mode: multiply;
	/*background-color: #C1F0F6;*/
	/*font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;*/
	font-family: 'Patua One', cursive;
}

